<div class='col-md-3 col-sm-6 project-item ^work_projectType^'>

    <div class="project-thumb">

        <a href="#" class="main-link">
            <img class="img-responsive img-center" src="^work_projectThumb^"  alt="">
            <h2 class="project-title">^work_name^</h2>
            <span class="overlay-mask"></span>
        </a>

        <a class="enlarge" href="^work_projectThumb^" title="^work_name^">
            <i class="fa fa-expand fa-fw"></i>
        </a>

        <a name="^work_projectType^" class="link" href="#" android="/media/2015/2/android.png" ios="/media/2015/2/ios.png" iPad="/media/2015/2/iPad.png" web="/media/2015/2/web.png">
            <i class="fa fa-eye fa-fw"></i>
        </a>

    </div>

    <div class="preview-content" data-images="^work_project_images^">

        <p class="preview-subtitle">^work_title^</p>
        <p>^work_description^</p>

        <p class="text-center">
            <a title="" data-original-title="" class="btn btn-qubico" href="^work_url^" target="_blank">Link</a>
        </p>
    </div>

</div>