<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="pencilblueApp">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>^meta_title^</title>
        <meta name="keywords" content="^meta_keywords^">
        <meta name="description" content="^meta_desc^">
        <meta property="og:locale" content="^meta_lang^"/>
        <meta property="og:title" content="^meta_title^"/>
        <meta property="og:description" content="^meta_desc^"/>
        <meta property="og:url" content="^site_root^^current_url^"/>
        <meta property="og:site_name" content="^site_name^"/>
        <meta property="og:type" content="article"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

        <link rel="shortcut icon" href="/public/bitcot/favicon.png">

        <link rel="stylesheet" type="text/css" href="^bootstrap_css_src^">
        <link rel="stylesheet" type="text/css" href="^font_awesome_src^">
        <!-- Custom CSS -->
		<link rel="stylesheet" href="/public/bitcot/css/flexslider.css">
		<link rel="stylesheet" href="/public/bitcot/css/sequencejs-qubico.css" />
		<link rel="stylesheet" href="/public/bitcot/css/colorbox.css" />
		<link rel="stylesheet" href="/public/bitcot/css/qubico.css">
		<link id="main" rel="stylesheet" href="/public/bitcot/css/qubico-cyan.css">
		<link id="theme" rel="stylesheet" href="/public/bitcot/css/qubico-cyan.css">
        <link rel="stylesheet" type="text/css" href="/public/bitcot/css/animations.css">
        <link rel="stylesheet" type="text/css" href="/public/bitcot/css/portfolio_theme.css">

		<link href='http://fonts.googleapis.com/css?family=Dosis:600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
		<!-- Custom CSS -->
        <script type="text/javascript" src="/public/bitcot/js/modernizr.min.js"></script>
        <!-- Custom JS -->
        <!--[if lt IE 9]>
			<script src="/public/bitcot/js/respond.min.js"></script>
		<![endif]-->
        ^localization_script^
        <script type="text/javascript" src="^jquery_src^"></script>
        <script type="text/javascript" src="^bootstrap_js_src^"></script>
        <script type="text/javascript" src="^angular_src^"></script>
        <script type="text/javascript" src="^angular_route_src^"></script>
        <script type="text/javascript" src="^angular_sanitize_src^"></script>
        <script type="text/javascript" src="/js/media.js"></script>
        
        ^analytics^
    </head>
    <body ng-controller="PencilBlueController" data-spy="scroll" data-target="#main-nav" data-offset="400" id="headtop">
       
            ^tmp_elements=top_menu^
