^tmp_head^


<header id="page-header" class="color-bg light-typo padding-top-bottom">
			
			<div class="container">
			
				<h1 class="page-title">Read Our Blog</h1>
				
				<p class="page-subtitle">We write about latest technologies and our thoughts.</p>
				
			</div>
			
</header>


<section id="news" class="white-bg padding-top-bottom">
		
			<div cla   ss="container">
				
				<div class="timeline">
				
					
				<div class="container">
					<div class="row">
                    
                        
                       <div class="date-title">
						<span>Latest Blog</span>
					</div>
                         ^pages^
                      </div>
					
					</div>

				</div>
				
				<!--<p class="text-center"><a class="btn btn-qubico" href="blog/blog-ajax.html">Read our Blog</a></p>-->
				
			</div>
			
		</section>
        
^infinite_scroll^
^tmp_footer^