^tmp_head^

<div class="works_page" style="margin-top: .5em">
    <div id="articles" class="row">
        <section id="portfolio" class="gray-bg padding-top-bottom">

            <div class="container">

                <h1 class="section-title">Our Portfolio</h1>
                <p class="section-description">We are proud of what we do. This is just an example of our greatest works.</p>

                <!--==== Portfolio Filters ====-->

                <div id="filter-works">

                    <ul>
                        <li class="active">
                            <a href="#" data-filter="*">All Projects</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".android">Android</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".ios">iOS</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".ror">Ruby On Rails</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".web">Web</a>
                        </li>
                    </ul>

                </div><!--End portfolio filters -->

                <div class="projects-container scrollimation">

                        <div class="row">

                            ^completeProject^

                        </div>

                </div><!-- End Projects Container -->
                <!--
                <p class="text-center"><a id="ajax-load" class="btn btn-qubico" href="#"><i class="fa fa-plus-circle"></i>Load More</a></p>-->

            </div><!-- End container -->

            <!--==== Project Preview Panel (DO NOT REMOVE)====-->

            <div id="preview-scroll"></div>

            <div id="project-preview">

                <div class="container">

                    <div class="preview-header text-center">
                        <a class="close-preview" href="#">&times;</a>
                        <h1 class="preview-title"></h1>
                        <p class="preview-subtitle"></p>
                    </div>

                    <div class="imac-frame">

                        <img class="frame_box img-responsive img-center" src="" alt="" style="width: auto">
                        <span class="loader"></span>
                        <div class="imac-screen imac-slider flexslider"></div>

                    </div>

                    <div class="row">
                        <div id="preview-content" class="col-sm-10 col-sm-offset-1"></div>
                    </div>

                    <div class="preview-footer text-center">
                        <a class="close-preview" href="#">&times;</a>
                    </div>

                </div><!--End container -->

            </div><!--End #project-preview panel-->

        </section>
    </div>
</div>
^angular^
^tmp_footer^